.header-container {
  position: fixed;
  width: 100vw;
  height: 15vh;
  top: 0;
  border-bottom: 2px solid #171b1e;
  display: flex;
  justify-content: space-between;
  background-color: #171b1e;
  color: white;
  z-index: 1000;
}

.title {
  font-size: 58px;
  padding: 20px 0;
  margin-left: 2%;
  font-family: 'Caveat', cursive;
}

.button-container {
  margin-right: 2%;
}

.contact-me {
  display: inline-block;
  padding: 40px 0;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
}

.sectionOne {
  position: relative;
  width: 100vw;
  margin-top: 15vh;
  height: 75vh;
}

.cover-image {
  width: 100vw;
  height: 75vh;
  filter: opacity(.4);
  border-bottom: 2px solid #171b1e;
}

.beach-image {
  width: 100vw;
  height: 75vh;
  filter: opacity(.4);
  border-top: 2px solid #171b1e;
}

.overlay-text-container {
  position: absolute;
  top: 12%;
  left: 35%;
  font-size: 36px;
  z-index: 2;
  text-align: center;
}

.overlay-text {
  margin: 9px;
}

.profile-pic {
  margin-top: 7%;
  width: 200px;
  height: 200px;
  background-color: #171b1e;
  border-radius: 100px;
  filter: grayscale(100%);
  border: 1px solid #171b1e;
}

.sectionTwo {
  position: relative;
  width: 100vw;
  height: 75vh;
  padding-top: 5px;
}

.about-container {
  position: absolute;
  width: 100%;
  display: flex;
  padding-top: 2px;
}

.about {
  width: 34%;
  height: 75vh;
  background-color: #ede1d1;
  border-left: 1px solid #937d62;
  text-align: center;
}

.school-logo {
  width: 30%;
  margin: 30px;
}

.school-text {
  font-size: 24px;
}

.school-text-maj {
  font-size: 22px;
  font-style: italic;
}


.footer {
  width: 100vw;
  padding-top: 5px;
}

.social-container {
  float: right;
  margin-top: 1%;
  margin-right: 2%;
}

.social {
  display: inline-block;
  width: 50px;
  margin: 30px 20px 50px 20px;
}

.hired {
  display: inline-block;
  font-size: 36px;
  color: #171b1e;
  font-family: 'Caveat', cursive;
  margin-top: 4%;
  margin-left: 2%;
}
